notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints/*
__pycache__/*
data/*
configs/nips/*

.vscode/

results/*

*.pkl
*.html

data
results
test
results_initial

notebooks/*/*.png
notebooks/*/*.pdf
notebooks/*.pdf